PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
ADMINNAME=admin
EMAIL=admin@estara.com
PASSWORD=estara123
DATABASE_URL=your_mongodb_connection_string
JWT_ACCESS_TOKEN=your_jwt_access_secret
JWT_REFRESH_TOKEN=your_jwt_refresh_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
